<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Creating Password jeje</h1>
    <form action='/password' method='POST'>

        <label for="web">Web/App</label>
        <input type="text" name="web" id="web">

        <label for="user_name">User Name</label>
        <input type="text" name="user_name" id="user_name">

        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        
        <input type="submit" value="registrar">
        
    
    </form>
    
</body>
</html>