:root {
    --btns-color         : rgb(138, 209, 69);
    --containers-bg      : rgba(4, 12, 5, 0.7);
    --border-line-inputs : rgba(4, 12, 5, 0.7);
    --border-line-btn    : rgb(138,209,69);
    --font-color         : rgb(186, 183, 183);
    --btn-hover          : rgb(78, 118, 39);
}

body{
    background-image: url("NodeJsBackground.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
h1,h3{
    text-align: center;
    color: var(--btns-color);
    margin: 0;
}
.login-container {

    display             : flex ;
    flex-direction      : column;
    max-width           : 500px;
    min-width           : 300px;
    min-height          : 250px;
    background          : rgba(4, 12, 5, 0.7);
    margin              : auto ;
    border-radius       : 5px;

}


.inputs-login {

    display             : flex;
    flex-direction      : column;
    
}

.inputs-login label{

    color               : var(--font-color);
    font-size           : medium;
    margin-left         : 5px;
}

.inputs-login input{

    
    border              : 1px solid var(--border-line-inputs);
    height              : 30px;
    font-size           : large;
    
}

.btn-login {

    border              : 1px solid var(--border-line-btn);
    border-radius       : 5px;
    color               : white;
    background-color    : var(--btns-color);
    margin-top          : 10px;
    font-size           : medium;


}

.btn-login:hover {

    border              : 1px solid var(--btn-hover);
    border-radius       : 5px;
    color               : white;
    background-color    : var(--btn-hover);
    margin-top          : 10px;
    font-size           : medium;


}

.btn-register {

    color               : white; 
    text-decoration     : none;
    border-radius       : 5px;
    border              : 1px solid  var(--border-line-inputs);
    background-color    : var(--btns-color);
    text-align          : center;
    margin-top          : 10px;
    font-size           : medium;
    padding             : 5px 0 5px 0;

}

.btn-register:hover {

    color               : white; 
    text-decoration     : none;
    border-radius       : 5px;
    border              : 1px solid  var(--btn-hover);
    background-color    : var(--btn-hover);
    text-align          : center;
    margin-top          : 10px;
    font-size           : medium;
    padding             : 5px 0 5px 0;

}

.btn-update , .btn-delete{

    color               : white; 
    text-decoration     : none;
    border-radius       : 5px;
    border              : 1px solid  var(--border-line-inputs);
    background-color    : var(--btns-color);
    text-align          : center;
    font-size           : small;
    padding             : 1px;
}

.btn-update:hover,.btn-delete:hover{

    color               : white; 
    text-decoration     : none;
    border-radius       : 5px;
    border              : 1px solid  var(--btn-hover);
    background-color    : var(--btn-hover);
    text-align          : center;
    font-size           : small;
    padding             : 1px;
}


.copyright{
    
    color               : var(--border-line-btn) ;
    text-align          : center;
    font-size           : small;
    margin              : auto;

    
}

.pass-container{

    display             : flex ;
    flex-direction      : column;
    max-width           : 700px;
    min-width           : 300px;
    min-height          : 250px;
    background-color    : var(--containers-bg);
    margin              : auto ;
    border-radius       : 5px;

}

.table-data{

    text-align          : left;
    margin-left         : auto;
    

}

.head-tr td{

    color               :var(--btns-color);
}

td,li{
    color               :var(--font-color);
}

form,table{

    padding             : 10px;
}




